# This buildout is used for development of Products.LDAPMultiPlugins
# It gets the necessary eggs and creates a test runner and a python
# interpreter.

[buildout]
develop = .
parts = test py docs

[py]
recipe = zc.recipe.egg
eggs = Products.LDAPMultiPlugins
interpreter = py

[test]
recipe = zc.recipe.testrunner
defaults = ['-cv']
eggs = Products.LDAPMultiPlugins

[docs]
recipe = zc.recipe.egg
eggs =  
  Products.LDAPMultiPlugins
  sphinx
  sphinx-pypi-upload
  zc.rst2
  pkginfo
  repoze.sphinx.autointerface
interpreter = docpy
